/* -------------------------- Reset -------------------------- */

@import url('src/reset.css');

/* Dark Gray: #323031 */
/* Medium Gray: #58585b */
/* Light Gray: #929497 */
/* Red: #ff3b1f */

/* -------------------------- Base -------------------------- */

html {
  background-color: #fff;
  color: #58585b;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.65;
}

body {
  font-size: 100%;
  margin-bottom: 80px;
}

img {
  height: auto;
  max-width: 100%;
}

h2, h3, h4 {
  color: #323031;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 20px;
  position: relative;
}

h2::before {
  background-color: #ff3b1f;
  bottom: 0;
  content: '';
  height: 100%;
  left: -20px;
  position: absolute;
  top: 0;
  width: 2px;
}

h3 {
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}

h4 {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

ul {
  margin-left: 20px;
}

li {
  list-style-type: disc;
  margin-bottom: 10px;
}

a {
  color: #ff3b1f;
  font-weight: 700;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

a:active,
a:focus,
a:hover {
  color: #323031;
}

b, strong {
  font-weight: 700;
}

/* -------------------------- Modules -------------------------- */

/* == Brand == */

.brand {
  padding-left: 40px;
  padding-right: 40px;
}

/* == Bucket == */

.bucket {
  display: flex;
}

.bucket-content {
  flex-grow: 1;
}

.bucket-media {
  flex-shrink: 0;
  margin-right: 20px;
}

.bucket-media > img {
  display: block;
}

/* == Cell == */

.cell {
  margin-left: auto;
  margin-right: auto;
  max-width: 775px;
  position: relative;
}

/* == Hero == */

.hero {
  background-color: #323031;
  background-image: url('bg-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
}

.hero::before {
  background-color: black;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.65;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.hero-content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

/* == Grid == */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.grid-box {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 20px;
  width: 100%;
}

/* == Logo Grid == */

.logoGrid {
  align-items: center;
  justify-content: center;
}

.logoGrid-item {
  filter: grayscale(100%);
  margin-bottom: 40px;
  position: relative;
}

/* == Number == */

.number {
  border-radius: 50%;
  border: 2px solid #ff3b1f;
  color: #ff3b1f;
  display: block;
  font-size: 1.125rem;
  height: 40px;
  left: -40px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  width: 40px;
}

.has-number {
  padding-left: 15px;
}

/* == Row == */

.row {
  overflow: hidden;
  padding: 0 20px;
}

/* == Tagline == */

.tagline {
  color: #929497;
  display: block;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

/* == Thumb == */

.thumb {
  border-radius: 4px;
  display: block;
}

.thumb--center {
  margin-left: auto;
  margin-right: auto;
}

/* == Well == */

.well {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* -------------------------- Modules -------------------------- */

.c-base-3 {
  color: #929497;
}

.db {
  display: block;
}

.fs-l {
  font-size: 1.1875rem;
}

.fs-s {
  font-size: 0.875rem;
}

.lh-1 {
  line-height: 1;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-025 {
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 20px;
}

.mb-2 {
  margin-bottom: 40px;
}

.ml-2 {
  margin-left: 40px;
}

/* -------------------------- Media Queries -------------------------- */

@media screen and (min-width: 775px) {
  html {
    font-size: 16px;
  }

  .brand {
    padding-left: 0;
    padding-right: 0;
  }

  .grid-box {
    margin-bottom: 0;
  }
  .grid-box--1of2 {
    width: calc(100% / 2);
  }
  .grid-box--1of3 {
    width: calc(100% / 3);
  }

  .logoGrid-item {
    margin-bottom: 40px;
  }

  .hero,
  .hero-content {
    min-height: 492px;
  }

  .hero {
    margin-bottom: 40px;
  }

  .hero-content {
    padding-bottom: 0;
    padding-top: 0;
  }

  .tagline {
    margin-bottom: 20px;
  }

  .well {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

