/* -------------------------- Reset -------------------------- */

@import url('src/reset.css');

/* Dark Gray: #323031 */
/* Medium Gray: #58585b */
/* Light Gray: #929497 */
/* Red: #ff3b1f */

/* -------------------------- Base -------------------------- */

html {
  background-color: #fff;
  color: #58585b;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.65;
}

body {
  font-size: 100%;
  margin-bottom: 80px;
}

img {
  height: auto;
  max-width: 100%;
}

h2, h3, h4 {
  color: #323031;
}

h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
  position: relative;
}

h2::before {
  background-color: #ff3b1f;
  bottom: 0;
  content: '';
  height: 100%;
  left: -20px;
  position: absolute;
  top: 0;
  width: 2px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

ul {
  margin-left: 20px;
}

li {
  list-style-type: disc;
  margin-bottom: 10px;
}

a {
  color: #ff3b1f;
  font-weight: 700;
  text-decoration: underline;
}

b, strong {
  font-weight: 700;
}

/* -------------------------- Modules -------------------------- */

/* == Bucket == */

.bucket {
  display: flex;
}

.bucket-content {
  flex-grow: 1;
}

.bucket-media {
  flex-shrink: 0;
  margin-right: 20px;
}

.bucket-media > img {
  display: block;
}

/* == Cell == */

.cell {
  margin-left: auto;
  margin-right: auto;
  max-width: 775px;
  position: relative;
}

/* == Header == */

.header {
  background-color: #323031;
  background-image: url('public/bg-header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
  min-height: 492px;
  position: relative;
}

.header::before {
  background-color: black;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.65;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 492px;
}

/* == Grid == */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.grid-box {
  padding-left: 20px;
}

.grid-box--1of2 {
  width: calc(100% / 2);
}

.grid-box--1of3 {
  width: calc(100% / 3);
}

/* == Number == */

.number {
  border-radius: 50%;
  border: 2px solid #ff3b1f;
  color: #ff3b1f;
  display: block;
  font-size: 18px;
  height: 40px;
  left: -40px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  width: 40px;
}

.has-number {
  padding-left: 15px;
}

/* == Row == */

.row {
  overflow: hidden;
  padding: 0 20px;
}

/* == Tagline == */

.tagline {
  color: #929497;
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* == Well == */

.well {
  margin-bottom: 40px;
  margin-top: 40px;
}

/* -------------------------- Modules -------------------------- */

.c-base-3 {
  color: #929497;
}

.db {
  display: block;
}

.fs-l {
  font-size: 19px;
}

.fs-s {
  font-size: 14px;
}

.lh-1 {
  line-height: 1;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-025 {
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 20px;
}

.mb-2 {
  margin-bottom: 40px;
}

.ml-2 {
  margin-left: 40px;
}
